:root {
  --bg-color: #072736;
}

*, html, body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--bg-color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
}
ul {
  list-style: none;
}
button {
  border: none;
}
button:focus {
  border: none !important;
  outline: none !important;
}
input.input-title {
  outline: none !important;
  border: none !important;
}
.list-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}
.box {
  flex: 1 1 100px;
}
.timeline {
  background-color: #072736;
  color: #fff;
  padding: .8rem 2rem 3rem;
}

p.info {
  color: #626161;
}

.timeline-title {
  padding: 0 0 .4rem 2rem;
  opacity: 50%;
  color: #34ace0;
}

.timeline ul {
  list-style-type: none;
  border-left: 2px solid #094a68;
  padding: 10px 5px;
}

.timeline ul li {
  padding: 4px 20px;
  position: relative;
  cursor: pointer;
  transition: .5s;
  border-bottom: 1px solid #164256;
  margin-bottom: none;
  display: flex;
  justify-content: start;
  align-items: center;
}

.timeline ul li span.time-slot {
  display: inline-block;
  background-color: #1685b8;
  border-radius: 16px;
  padding: 2px 6px;
  font-size: 15px;
  text-align: center;
  min-width: 110px;
}

@media screen and (max-width: 440px) {
  span.time-slot {
    font-size: 13px !important;
  }
}

.timeline ul li.active span.time-slot {
  background-color: #14F30C;
  color: black;
}

span.time-slot:hover {
  opacity: 50%;
}

.timeline ul li span.content {
  color: #34ace0;
  font-size: 17px;
  padding-left: 1rem;
}

.timeline ul li .content p {
  padding: 5px 0px 15px 0px;
  font-size: 15px;
}

.timeline ul li:before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  background-color: #34ace0;
  border-radius: 50%;
  left: -13px;
  top: 17px;
  transition: .5s;
}

.timeline ul li:hover span.time-slot {
  background-color: orange;
  color: black;
}

.timeline ul li.active:before {
  background-color: #14f30c;
  box-shadow: 0px 0px 10px 2px #14F30C;
}

input.input-title {
  background-color: var(--bg-color);
  outline: none;
  border: none;
  padding: .4rem 1rem;
  color: #30a4ea;
  font-size: 18px;
}

@media (max-width: 300px) {
  .timeline {
    width: 100%;
    padding: 30px 5px 30px 10px;
  }

  .timeline ul li .content h3 {
    color: #34ace0;
    font-size: 15px;
  }
}
