
.setting-actions button {
  cursor: pointer;
  background-color: #d8ff00;
  padding: .4rem .6rem;
  border-radius: .8rem;
  color: rgb(66, 65, 65);
  font-size: 17px;
  margin-right: 14px;
  line-height: unset;
}
.setting-actions button:hover {
  opacity: 50%;
}
.setting-content {
  width: 800px;
  margin: 0 auto;
}
.setting-actions {
  padding: 1rem 2rem;
}
h1 {
  margin-bottom: 2rem;
  opacity: 70%;
  font-size: 3rem;
}
.elon {
  opacity: 20%;
}

.description {
  line-height: 1.8rem;
}

code {
  padding: .1rem .4rem;
  border-radius: 4px;
  background-color: rgb(226, 136, 17);
}
form.setting-form {
  margin: 2rem 0;
  border: 1px solid rgba(160, 158, 158, 0.712);
  padding: 1rem 2rem;
  border-radius: 8px;
}
input[type="number"] {
  font-size: 20px;
  padding: 4px !important;
  width: inherit !important;
}
.start-end-time {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
input[type="time"] {
  font-size: 17px;
  padding: 4px 12px;
  border: none;
  border-radius: 4px;
}
input[type="submit"] {
  margin-top: 2rem;
  font-size: 13px;
  padding: 8px 50px !important;
  border-radius: 50px;
  color: black;
  opacity: 75%;
}
input[type="submit"]:hover {
  background-color: orange;
}
